{{include partials/head.html}}
{{include partials/atmosphere.html}}

{{include partials/shell-open.html}}
{{include partials/header.html}}

{{include partials/hero.html}}

{{include results/panel.html}}
{{include partials/shell-close.html}}

{{include wizard/shell-open.html}}
{{include wizard/overview.html}}

{{include wizard/volume.html}}

{{include wizard/retention.html}}

{{include wizard/topology.html}}

{{include wizard/review.html}}
{{include wizard/shell-close.html}}

{{include modals/import.html}}

{{include modals/suggest.html}}

{{include modals/feature-prompt.html}}

{{include partials/scripts.html}}
